.about-container {
  display: flex;
  gap: 24px;
  max-width: 1200px;
}

.about-text {
  font-size: 13px;
}

.profile-pic {
  width: 132px;
  height: 132px;
}

.signature {
  text-align: end;
  margin-right: 48px;
}