.head {
  height: 72px;
  width: 100%;
  border-bottom: 1px solid gray;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 48px;
  margin-top: 2em;
  margin-right: 24px;

  > :not(.divider) {
    max-width: 750px;
    margin-inline-start: 12em;

    @media screen and (max-width: 768px) {
      margin-inline-start: 1.2rem;
    }
  }

}

.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 48px;
}