body {
  margin-top: 2em;
  margin-inline-start: 12em;
  width: 750px;
  font-family: paralucent, sans-serif;
}

h1 {
  font-size: 56px;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 2px;
  color: forestgreen;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

a {
  color: rgb(50, 168, 98) !important;
}

em {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

p {
  font-family: 'Source Sans Pro', sans-serif;;
  font-size: 17px;
  line-height: 200%;
}

.help-text {
  font-size: 13px;
  color: gray;
}

.button {
  padding: 12px 16px;
  color: white;
  background-color: rgba(35, 139, 34, .8);
  border-color: transparent;
  font-size: 18px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;;
}

.button:hover {
  transform: scale(1.07);
}

.field {
  padding: .75em;
  background-color: #FAFAFA;
  border: 1px solid #e2e8f0;

}