.related-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.articles-container {
  display: flex;
  gap: 24px;
}

.article-link-container {
  border: none;
  background-color: transparent;
  text-align: start;
  cursor: pointer;
  opacity: .8;
}

.article-link-container:hover {
  opacity: 1;
}

.article-link {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 250px;
}

.article-img {
  width: 250px;
  height: 150px;
}